# ======================================
# Git Ignore for Ecommerce Analysis Project
# ======================================

# =======================
# Sensitive / credentials
# =======================
kaggle.json
/.kaggle/
/content/drive/MyDrive/kaggle/

# =======================
# Data folders
# =======================
# Solo ignora raw si el dataset es muy grande, pero podemos subir processed y features
data/raw/*.csv
# Mantener processed y features para visualizaciones y dashboards

# =======================
# Temporary or cache files
# =======================
*.tmp
*.log
*.bak
*.pyc
__pycache__/
.ipynb_checkpoints/

# =======================
# Environment & system files
# =======================
.env
*.env
.DS_Store
Thumbs.db

# =======================
# Colab & Google Drive metadata
# =======================
*.ipynb_save
*.gdrive

# =======================
# OS-specific
# =======================
ehthumbs.db
desktop.ini

# =======================
# Jupyter notebook auto-checkpoints
# =======================
*/.ipynb_checkpoints/*
