
# ======================================
# Git Ignore for Ecommerce Analysis Project
# ======================================

# Kaggle credentials (DO NOT UPLOAD)
kaggle.json
/.kaggle/
/content/drive/MyDrive/kaggle/

# Optional: ignore large raw/processed files if needed
/data/raw/*
/data/processed/*

# Keep features, interim, notebooks, scripts, src, config, tests, reports

# Temporary or cache files
*.tmp
*.log
*.bak
*.pyc
__pycache__/
.ipynb_checkpoints/

# Environment & system files
.env
*.env
.DS_Store
Thumbs.db

# Colab & Google Drive metadata
*.ipynb_save
*.gdrive

# OS-specific
ehthumbs.db
desktop.ini
